NODE_ENV=development
PORT=3000
JWT_SECRET=secretKey
DB_NAME=shop_ai_api
TEST_DB_NAME=shop_ai_api_test
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
SWAGGER_TITLE=Shop AI API
SWAGGER_DESCRIPTION=This is the Shop AI API
SWAGGER_VERSION=1.0.0
